body {
  width: 100%;
  height: auto;
  background-color: #03031d3f;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.screen {
  width: 100%;
  max-height: auto;
  background-color: #03031d3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen::after {
  content: "";
  background-image: url(/assets/audios.jpg);
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  padding: 2rem;
}

.heading {
  color: aquamarine;
  font-style: bold;
  font-size: 3.3rem;
  text-shadow: 3px 3px 5px #08043b;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.subtittle {
  color: #230249;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  text-shadow: 1px 1px 2px #fafae8;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btns__start {
  font-size: 1.5rem;
  font-weight: 700;
  color: #03031de3;
  margin: 1em;
  padding: .2em;
  background: #0EC518;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
          box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 6vw;
  width: 6vw;
}

.btns__start:hover {
  background: #333;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
          box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

.btns__end {
  font-size: 1.5rem;
  font-weight: 700;
  color: #03031de3;
  margin: 1em;
  padding: .2em;
  background: #E53030;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
          box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 6vw;
  width: 6vw;
}

.btns__end:hover {
  background: #333;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
          box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

.words {
  width: 60%;
  height: auto;
  background-color: #fafae8;
  -webkit-box-shadow: 3px 3px 5px #08043b;
          box-shadow: 3px 3px 5px #08043b;
  font-size: 1.5 rem;
  border-radius: 8px;
  padding: 1.5rem 2rem;
}
/*# sourceMappingURL=index.css.map */